body {
    overflow: hidden;
}

button {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.sudoku {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    justify-content: center;
    /*place-content: center;*/

    grid-template-rows: min-content min-content min-content;

    /*React Variables*/
    --sideLength: 0;
    --base: 0;
    --outer-grid-size: 100vmin;

    /*Style Variables*/
    --block-border-color: #606266;
    --block-border-size: 2px;
    --cell-border-color: #bec6d4;
    --cell-border-size: 1px;
    --cell-padding: 0.2rem;
    --cell-bg-color-selected: #bbdefb;
    --cell-bg-color-guide-group: #e2e7ed;
    --cell-bg-color-guide-value: #c8d0de;
    --cell-bg-color-fixed-conflict: #fdc0cb;
    --cell-value-color-fixed: #212121;
    --cell-value-color-user: #0d47a1;
    --cell-value-color-user-conflict: #ff0000;
    --candiate-color: #606266;
    --bg-color: #ffffff;

    /*No Select*/
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}

.grid {
    /*Grid Variables*/
    --grid-size: calc(var(--outer-grid-size) - (2 * var(--block-border-size)));
    --grid-gutter: var(--block-border-size);
    --grid-no-of-gutters: calc(var(--base) - 1);
    --grid-row-height: calc((var(--grid-size) - (var(--grid-no-of-gutters) * var(--grid-gutter))) / var(--base));

    /*Styling*/
    display: grid;
    grid-template-columns: repeat(var(--base), 1fr);
    grid-template-rows: repeat(var(--base), 1fr);

    border: var(--block-border-size) solid var(--block-border-color);
    background-color: var(--block-border-color);

    /*Square blocks*/
    width: var(--outer-grid-size);
    height: var(--outer-grid-size);
    grid-auto-rows: var(--grid-row-height);
    grid-gap: var(--grid-gutter);

    touch-action: none;
}

.block {
    /*Grid Variables*/
    --block-column: 0;
    --block-row: 0;

    --block-size: var(--grid-row-height);
    --block-gutter: var(--cell-border-size);
    --block-no-of-gutters: calc(var(--base) - 1);
    --block-row-height: calc((var(--block-size) - (var(--block-no-of-gutters) * var(--block-gutter))) / var(--base));

    /*Styling*/
    display: grid;
    grid-template-columns: repeat(var(--base), 1fr);
    grid-template-rows: repeat(var(--base), 1fr);

    grid-row: calc(1 + var(--block-row));
    grid-column: calc(1 + var(--block-column));

    background-color: var(--cell-border-color);

    /*Square cells*/
    width: var(--block-size);
    height: var(--block-size);
    grid-auto-rows: var(--block-row-height);
    grid-gap: var(--block-gutter);
}

.cell {
    --cell-column: 0;
    --cell-row: 0;

    --cell-size: calc(var(--block-row-height) - var(--cell-padding));

    grid-column: calc(1 + var(--cell-column));
    grid-row: calc(1 + var(--cell-row));

    min-width: 0;
    min-height: 0;

    background-color: var(--bg-color);

    padding: var(--cell-padding);

    display: grid;
    place-items: stretch;

    cursor: pointer;
}

.cell--selected {
    background-color: var(--cell-bg-color-selected);
}

.cell--guide-group {
    background-color: var(--cell-bg-color-guide-group);
}

.cell--guide-value {
    background-color: var(--cell-bg-color-guide-value);
}

.cell--fixed {
    color: var(--cell-value-color-fixed);
}

.cell--user {
    color: var(--cell-value-color-user);
}

.cellValue {
    display: grid;
    place-items: center;
}

.cellValueText {
    line-height: 1;
    font-size: calc(var(--cell-size));
}

.candidates {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(var(--base), 1fr);
    grid-template-rows: repeat(var(--base), 1fr);
}

.candidate {
    --candidate-column: 0;
    --candidate-row: 0;

    grid-column: calc(1 + var(--candidate-column));
    grid-row: calc(1 + var(--candidate-row));

    color: var(--candiate-color);
    font-size: calc(var(--cell-size) / (var(--base) + 0.1));
    line-height: 1;

    min-width: 0;
    min-height: 0;
}

.selector {
    --selector-size: var(--outer-grid-size);
    --selector-gutter: var(--cell-border-size);
    --selector-no-of-gutters: calc(var(--sideLength) - 1);
    --selector-row-height: calc((var(--selector-size) - (var(--selector-no-of-gutters) * var(--selector-gutter))) / var(--sideLength));


    width: var(--selector-size);
    height: var(--selector-row-height);
    display: grid;
    place-items: stretch;
    grid-template-columns: repeat(var(--sideLength), 1fr);
    grid-template-rows: 1fr;
    grid-gap: var(--selector-gutter);

    border: var(--block-border-size) solid var(--block-border-color);

    background-color: var(--cell-border-color);
}

.selectorValue {
    display: grid;
    place-items: center;

    cursor: pointer;

    background-color: var(--bg-color) !important;

    min-width: 0;
    min-height: 0;
}

.selectorValueText {
    color: var(--cell-value-color-fixed);
    line-height: 1;
    font-size: calc(var(--selector-row-height) * 0.9);
}
