:root {
    /*React Variables*/
    --side-length: 0;
    --side-length-fr: 0fr;
    --base: 0;
    --grid-size: 70vmin;

    /*Style Variables*/
    --hue: 213;
    --block-border-color: hsl(var(--hue), 0%, 39%);
    --block-border-size: 2px;
    --cell-border-color: hsl(var(--hue), 20%, 79%);
    --cell-border-size: 1px;
    --cell-padding: 0.2rem;
    --cell-bg-color-selected: hsl(var(--hue), 89%, 86%);
    --cell-bg-color-guide: hsl(var(--hue), 25%, 91%);
    --cell-bg-color-fixed-conflict: hsl(349, 94%, 87%);
    --cell-value-color-fixed: hsl(0, 0%, 13%);
    --cell-value-color-user: hsl(var(--hue), 85%, 34%);
    --cell-value-color-incorrect-value: hsl(0, 100%, 50%);
    --candiate-color: hsl(var(--hue), 3%, 39%);
    --candiate-color-guide: hsl(var(--hue), 25%, 83%);
    --bg-color: hsl(0, 0%, 100%);
}

@media (prefers-color-scheme: dark) {
    :root {
        --block-border-color: hsl(0, 0%, 62%);
        --block-border-size: 2px;
        --cell-border-color: hsl(0, 0%, 62%);
        --cell-border-size: 1px;
        --cell-padding: 0.2rem;
        --cell-bg-color-selected: hsl(var(--hue), 89%, 14%);
        --cell-bg-color-guide: hsl(var(--hue), 20%, 22%);
        --cell-bg-color-fixed-conflict: hsl(349, 94%, 13%);
        --cell-value-color-fixed: hsl(0, 0%, 100%);
        --cell-value-color-user: hsl(var(--hue), 85%, 66%);
        --cell-value-color-incorrect-value: hsl(0, 100%, 50%);
        --candiate-color: hsl(0, 0%, 100%);
        --bg-color: hsl(0, 0%, 7%);
    }
}

html {
    max-height: 100vh;
    overflow-x: hidden;
}

html,
body,
#root {
    height: 100%;
}

button {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.sudoku {
    height: 100%;
    display: grid;
    place-items: center;
    /*justify-content: stretch;*/
    /*align-content: center;*/

    grid-template-rows: min-content minmax(0, var(--side-length-fr)) min-content minmax(0, 1fr);
    grid-template-columns: minmax(0, 1fr);

    /*No Select*/
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}

.sudoku-app-bar {
    justify-self: stretch;
}

.grid-wrapper {
    align-self: stretch;
    justify-self: stretch;
    min-height: 0;
    min-width: 0;
}

.grid {
    /*Grid Variables*/
    --grid-gutter: var(--block-border-size);
    --grid-no-of-gutters: calc(var(--base) - 1);
    --grid-row-height: calc((var(--grid-size) - (var(--grid-no-of-gutters) * var(--grid-gutter))) / var(--base));

    /*Styling*/

    position: relative;
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: grid;
    grid-template-columns: repeat(var(--base), 1fr);
    grid-template-rows: repeat(var(--base), 1fr);

    border: var(--block-border-size) solid var(--block-border-color);
    background-color: var(--block-border-color);

    /*Square blocks*/
    aspect-ratio: 1;
    /*justify-self: stretch;*/
    /*align-self: stretch;*/

    /*width: var(--outer-grid-size);*/
    /*height: 100%;*/
    /*grid-auto-rows: var(--grid-row-height);*/
    grid-gap: var(--grid-gutter);

    touch-action: none;
}

.block {
    /*Grid Variables*/
    --block-column: 0;
    --block-row: 0;

    --block-size: var(--grid-row-height);
    --block-gutter: var(--cell-border-size);
    --block-no-of-gutters: calc(var(--base) - 1);
    --block-row-height: calc((var(--block-size) - (var(--block-no-of-gutters) * var(--block-gutter))) / var(--base));

    /*Styling*/
    display: grid;
    grid-template-columns: repeat(var(--base), 1fr);
    grid-template-rows: repeat(var(--base), 1fr);

    grid-row: calc(1 + var(--block-row));
    grid-column: calc(1 + var(--block-column));

    background-color: var(--cell-border-color);

    /*Square cells*/
    /*width: var(--block-size);*/
    /*height: var(--block-size);*/
    /*grid-auto-rows: var(--block-row-height);*/
    grid-gap: var(--block-gutter);
}

.cell {
    --cell-column: 0;
    --cell-row: 0;

    aspect-ratio: 1;

    --cell-size: calc(var(--block-row-height) - var(--cell-padding));

    grid-column: calc(1 + var(--cell-column));
    grid-row: calc(1 + var(--cell-row));

    min-width: 0;
    min-height: 0;

    background-color: var(--bg-color);

    padding: var(--cell-padding);

    display: grid;
    place-items: stretch;

    cursor: pointer;

    overflow: hidden;
}

.cell--selected {
    background-color: var(--cell-bg-color-selected);
}

.cell--guide {
    background-color: var(--cell-bg-color-guide);
}

.cell--fixed {
    color: var(--cell-value-color-fixed);
}

.cell--user {
    color: var(--cell-value-color-user);
}

.cell--incorrect-value {
    color: var(--cell-value-color-incorrect-value);
}

.cellValue {
    display: grid;
    place-items: center;
}

.cellValueText {
    line-height: 1;
    font-size: calc(var(--cell-size));
}

.candidates {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(var(--base), 1fr);
    grid-template-rows: repeat(var(--base), 1fr);
}

.candidate {
    --candidate-column: 0;
    --candidate-row: 0;

    grid-column: calc(1 + var(--candidate-column));
    grid-row: calc(1 + var(--candidate-row));

    color: var(--candiate-color);
    font-size: calc(var(--cell-size) / (var(--base) + 0.1));
    line-height: 1;

    min-width: 0;
    min-height: 0;
}

.candidate--guide {
    color: var(--cell-value-color-user);
}

.selector {
    --selector-width: calc(var(--grid-size) + (2 * var(--block-border-size)));
    --selector-gutter: var(--cell-border-size);
    --selector-no-of-gutters: calc(var(--side-length) - 1);
    --selector-row-height: calc(
        (var(--selector-width) - (var(--selector-no-of-gutters) * var(--selector-gutter))) / var(--side-length)
    );

    width: var(--selector-width);
    height: var(--selector-row-height);
    display: grid;
    place-items: stretch;
    grid-template-columns: repeat(var(--side-length), 1fr);
    grid-template-rows: 1fr;
    grid-gap: var(--selector-gutter);

    border: var(--block-border-size) solid var(--block-border-color);

    background-color: var(--cell-border-color);
}

.selectorValue {
    display: grid;
    place-items: center;

    cursor: pointer;

    background-color: var(--bg-color) !important;

    min-width: 0;
    min-height: 0;
}

.selectorValue--selected {
    background-color: var(--cell-bg-color-selected) !important;
}

.selectorValueText {
    color: var(--cell-value-color-fixed);
    line-height: 1;
    font-size: calc(var(--selector-row-height) * 0.9);
}
